body {
    background-image: url("../images/background.png");
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    gap: 5px;
}


#worldGrid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 0px;
    margin-top: 10px;
}

.tile {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.active {
    background-color: rgb(43, 255, 0) !important;
    border: 3px solid rgb(0, 0, 0);
}

.imagPlace {
    position: relative;
    background-color: rgb(250, 250, 250);
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.imagPlace img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#movingPlace {
    position: relative;
    background-color: rgb(118, 130, 180);
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-top: 0;
    margin-left: 0;
}

#movingPlace :hover {
    background-color: #e07979;
    transform: scale(1.3, 1.3);
    transition: 0.4s;
}

#movingPlace button:disabled {
    background-color: #888;
    opacity: 1.5;
    cursor: not-allowed;
    transform: none;
}



#east {
    position: absolute;
    right: 0;
    top: 40%;
    font-size: 40px;
}

#west {
    position: absolute;
    left: 0px;
    top: 40%;
    font-size: 40px;
}

#north {
    position: absolute;
    top: 0px;
    left: 45%;
    font-size: 40px;
}

#south {
    position: absolute;
    bottom: 0px;
    right: 42%;
    font-size: 40px;
}


#Met{
    color: greenyellow;
}

#foundCatNum{
    color: greenyellow;
}

.endText{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 3px 3px 8px black;
}

.endBackground {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    padding: 20px;
}
#endScrean {
    width: 90%;
    max-width: 550px;
    max-height: 80vh;   
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}


.game-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 300px;
}

.game-btn button {
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    border-style: inset ;
    cursor: pointer;
    background-color: #ffcc00;
    color: #000;
    font-width: bold;
    transition: 0.2s;
}

.game-btn button:hover {
    background-color: #ffaa00;
    transform: scale(1.3);
}



@media (max-width: 600px) {
    #worldGrid {
        grid-template-columns: repeat(5, 45px);
    }

    .tile {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }

    .imagPlace {
        width: 420px;
        height: 320px;
    }

    #movingPlace {
        width: 220px;
        height: 160px;
    }

    #endScrean {
        max-width: 250px;
        max-height: 50vh;
    }

    .game-btn button {
        font-size: 18px;
        padding: 12px;
    }


    #east {
        right: 0px;
        top: 40%;
        font-size: 25px;
    }
    #west {
        left: 0px;
        top: 40%;
        font-size: 25px;
    }
    #north {
        top: 0px;
        left: 60px;
        font-size: 25px;
    }
    #south {
        bottom: 0px;
        right: 60px;
        font-size: 25px;
    }

}

